body, html {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #1a1a1a;
}

.main-content {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  background-color: #1a1a1a;
  overflow: hidden;
}

.main-title {
  color: #d1e2ee;
  font-size: 1.5em;
}

.description {
  color: #ccc;
  margin-bottom: 0.5em;
}

.list-group, .completed-list-group {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item, .completed-list-group-item {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
  margin-bottom: 0.4em;
  padding: 0.4em 0.6em; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  font-size: 0.9em;
}

.list-group-item:hover, .completed-list-group-item:hover {
  background-color: #333;
}

.task-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px; 
}

.task-header {
  display: flex;
  align-items: center;
}

.custom-checkbox {
  margin-right: 6px; 
  width: 12px; 
  height: 12px; 
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #5978d3; 
  border-color: #4c81af;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 2px;
}

.task-due-date {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 12px; 
  margin-left: 8px;
  margin-top: 2px; 
}

.calendar-icon {
  margin-top: 2px; 
  margin-left: 2px;
  font-size: 12px; 
}

.dot {
  font-size: 12px;
  margin-right: 4px;
  color: #888;
}

.form-check-label {
  font-size: 12px; 
  line-height: 1.2; 
}

.task-actions {
  display: flex;
  gap: 0.4em;
}

.task-actions mat-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}


/* Pagination */
.pagination {
  margin-top: 0.8em;
  display: flex;
  justify-content: center;
}

mat-paginator {
  background-color: #1a1a1a;
  color: #fff;
}

/* Completed Task */
.completed-task {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

/* Completed Tasks Panel */
.completed-tasks-panel {
  margin-top: 16px;
  background-color: #2a2a2a;
  color: #ffffff;
}

.completed-tasks-container {
  max-height: 200px;
  overflow-y: auto;
}

.completed-list-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.completed-list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px; /* Slightly adjusted padding */
}

.completed-task-label {
  text-decoration: line-through;
  color: gray;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title {
  color: #b9b9b9fb;
}

::ng-deep .mat-expansion-panel-header .mat-icon {
  color: #ffffff !important;
  font-size: 24px;
  transition: transform 0.3s ease;
}

::ng-deep html {
  --mat-expansion-header-indicator-color: rgb(255 255 255 / 54%) !important;
  --mat-select-panel-background-color: white;
  --mat-select-enabled-trigger-text-color: rgb(240 240 240 / 87%);
  --mat-select-enabled-arrow-color: rgb(190 190 190 / 54%);
  --mat-paginator-enabled-icon-color: rgb(195 195 195);
  --mat-paginator-disabled-icon-color: rgb(255 255 255 / 23%);
  --mdc-filled-text-field-input-text-color: rgb(253 253 253 / 87%);
  --mat-form-field-state-layer-color: rgb(6 21 73 / 87%);
}

.mdc-text-field {
  background-color: #88888808;
}
.form-check-label[_ngcontent-ng-c851100357] {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 3px;
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 13px;
  overflow: hidden;
  padding-top: 4px;
}
.task-actions[_ngcontent-ng-c851100357] {
  margin-bottom: 5px;
  display: flex;
  gap: 0.8em;
}
.task-actions mat-icon {
  cursor: pointer;
  color: #e4e8edb7;
  transition: color 0.3s ease;
  width: 30px;
  height: 30px}

.task-actions mat-icon:hover {
  color: #61b0e4;
}
