<mat-nav-list class="sidenav-container" style="height: 100% !important;">
  <div class="sidenav-content-wrapper">
    <div class="menu-items">
      <a mat-list-item *ngFor="let item of mainMenuItems" (click)="selectCategory(item)">
        <mat-icon class="icon" mat-list-icon>{{item.icon}}</mat-icon>
        <span class="category" mat-line>{{item.name}}</span>
      </a>
      <mat-divider class="divider"></mat-divider>
      <a mat-list-item *ngFor="let item of otherMenuItems" (click)="selectCategory(item)">
        <mat-icon class="icon" mat-list-icon>{{item.icon}}</mat-icon>
        <span class="category" mat-line>{{item.name}}</span>
      </a>
    </div>

    <!-- Sidebar Footer -->
    <div class="sidebar-footer">
      <div class="add-category">
        <mat-form-field class="input-box">
          <mat-icon matPrefix class ="add-icon">add</mat-icon>
          <mat-label>Add a category</mat-label>
          <!-- <input matInput #categoryInput (keyup.enter)="addCategory(categoryInput.value); categoryInput.value='';"> -->
          <input matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-nav-list>
