body, html {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  background-color: #1a1a1a;
}

.main-content {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1a1a1a; /* Matches the main content background color */
}

.main-title {
  color: #ffcccb; /* Matches the color of the 'Important' text */
  font-size: 2em;
}

.description {
  color: #ccc; /* Lighter color for the description text */
  margin-bottom: 1em;
}

.list-group {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
  margin-bottom: 0.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #333;
}

.form-check-input {
  margin-right: 1em;
}

.form-check-label {
  flex: 1;
}

.task-due-date {
  color: #999;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.calendar-icon {
  margin-left: 2px;
  font-size: 15px;
}


.task-actions {
  display: flex;
  gap: 0.5em;
}

.task-actions mat-icon {
  cursor: pointer;
  color: #ffcccb; /* Matches the color of the 'Important' text */
  transition: color 0.3s ease;
}

.task-actions mat-icon:hover {
  color: #fff;
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

mat-paginator {
  background-color: #1a1a1a;
  color: #fff;
}

mat-paginator .mat-button, mat-paginator .mat-icon-button {
  color: #ffcccb; /* Matches the color of the 'Important' text */
}

mat-paginator .mat-form-field-label {
  color: #ccc; /* Lighter color for the label */
}
