<div class="main-content">
  <h1 class="main-title">My Day</h1>
  <p class="description">Any tasks you didn’t complete in My Day last time show up in the suggestions pane.</p>

  <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item">
      <div class="task-content">
      <!-- <input class="form-check-input me-1" type="checkbox" [checked]="task.isDone" (change)="toggleTaskCompletion(task)"> -->
      <input class="form-check-input" type="checkbox">
        <label class="form-check-label">{{ task.name }}</label>
        <div class="task-due-date">
          <mat-icon class="calendar-icon">calendar_today</mat-icon>
          {{ task.dueDate | date }}
        </div>
      </div>
      <div class="task-actions">
       <mat-icon class="edit-icon">edit</mat-icon>
        <mat-icon class="delete-icon">delete</mat-icon>
      </div>
    </li>
  </ul>

  <mat-paginator #paginator
                 class="pagination"
                 (page)="handlePageEvent($event)"
                 [disabled]="disabled"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>
</div>
